colorama
enum34; python_version < '3.4'
psutil; 'linux' in sys_platform
pyasn1
rsa; sys_platform == 'win32'
secretstorage; 'linux' in sys_platform
https://github.com/AlessandroZ/pypykatz/archive/master.zip; sys_platform == 'win32'  # should point to pypykatz if my PR is approved
enum34; python_version < '3.4'
enum34; python_version < '3.4' and sys_platform == 'win32'
